<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
	<!-- <groups> <run> <include name="Error Handling" /> </run> </groups> -->
	<listeners>
		<listener class-name="companyName.TestComponents.Listeners" />
	</listeners>


	<test thread-count="5" name="Submit Order Test">
		<classes>
			<class name="companyName.tests.SubmitOrderTest" />
		</classes>
	</test>

	<test name="Error Validation Test">
		<classes>
			<class name="companyName.tests.ErrorValidationTest" />
		</classes>

	</test>
</suite> 